{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Choose your Event{% endblock %}
{% block body %}
<div class="content-section">
  <br/>
  {{ utils.flashed_messages() }}
  <br/>
  <div class="center-narrow">
    <h1>Choose your Event:</h1>
    <br/>
    {{ wtf.quick_form(events_form) }}
    <br/>
    {% if allow_create_new %}
    <a href="{{ url_for('gvtool.new_gv') }}" class="btn btn-default" role="button">Open new GV</a>
    <br/><br/>
    {% endif %}
    <a href="{{ url_for('login.logout') }}" class="btn btn-default" role="button">Back</a>
  </div>
</div>
{% endblock %}