{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    {% include "checkin/update_tables.js" %}
  </script>
{% endblock %}

{% block body %}
<div class="center">

  <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand topnav" href="{{ url_for('login.login') }}">AMIV Check-In</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('login.logout') }}">Logout</a></li>
            <li><a><i class="fa fa-user"></i>  Your PIN: {{ current_user.pin }}</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="content-section"><br/>

    {{ utils.flashed_messages(container=False) }}<br/>

    <div id="sync_warning" class="alert alert-warning" style="display:none">
      <strong>Warning!</strong> Could not fetch new data from server. List might be outdated.
    </div>

    {{ wtf.quick_form(form, form_type='horizontal', horizontal_columns=('md', 2, 10)) }}

    <hr class="intro-divider">

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th colspan="2"> Statistics </th>
        </tr>
      </thead>
      <tbody id="tbody_statistics">
        {% for s in statistics %}
          <tr>
            <td width="85%"> {{ s }} </td>
            <td width="15%"> {{ statistics[s] }} </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <hr class="intro-divider">

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th width="25%"> Name </th>
          <th width="15%"> nethz </th>
          <th width="15%"> Legi </th>
          <th width="30%"> e-Mail </th>
          <th width="15%"> Status </th>
        </tr>
      </thead>
      <tbody id="tbody_signups">
        {% for u in signups %}
          <tr>
            <td> {{ u['firstname'] }} {{ u['lastname'] }} </td>
            <td> {{ u['nethz'] }} </td>
            <td> {{ u['legi'] }} </td>
            <td> {{ u['email'] }} </td>
            <td> {{ u['checked_in'] }} </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>
{% endblock %}
